*{
   box-sizing:border-box; 
}

.box{
height:170px;
width:170px;
background-color:red;
padding:40px;
margin:auto;
box-shadow:4px 4px 10px;color: blue;}

.button{
background-color:rgb(red, green, blue);
color: white;
padding:15px 40px;
font-size:23px;
border:none;
border-radius:10px;
border-radius:20px  0px;
text-shadow:4px 4px 10px blue,-4px -4px 10px blue;
}

.body{
background-color:black;
}

.box:hover{
color:black;
 background-color: blue;
}






