* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(to right, rgb(226, 176, 176), rgb(85, 198, 87));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(132, 65, 65);
  font-size: 24px;
}

.boxing {
  width: 150px;
  object-fit: contain;
  border-radius: 50%;
}

.h2 {
  margin: 20px;
}
